.container {background: green;}
.module {background: red;}
.timer {border:0.25em solid orange;}
.home {border:0.25em solid yellow;}
.tictactoe {border:0.25em solid green;}
.bpi {border:0.25em solid blue;}
.projects {border:0.25em solid purple;}
